.App {
  text-align: center;
  padding: 50px;
}

.search-input {
  width: 90%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #DCDCDC;
  border-radius: 5px;
}

table {
  border-collapse: collapse;
}

td, th {
  padding: 10px;
  border-bottom: 1px solid #DCDCDC;
}

th { 
  background-color: #DCDCDC;
}